# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/LiteCppDB/.vs/LiteCppDB/v15
/LiteCppDB/LiteCppDB/x64/Debug
/LiteCppDB/LiteCppDB.Console/x64/Debug
/LiteCppDB/LiteCppDB.Tests/x64/Debug
/LiteCppDB/x64/Debug
